<!DOCTYPE html>
<html>
<head>
    <title>Delete this Restaurant</title>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
<div class="container">
    <h1>Delete this Restaurant</h1>
    <nav><a class="nav-title" href="{{ url_for('allRestaurants') }}">Index</a></nav>
    <h2 class="current-info">Are your sure you want to delete {{ restaurant.name }}?</h2>
    <form method="post" action="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id) }}">
        <div class="btn-group">
            <input class="btn first" type="submit" value="Submit">
            <a class="btn" href="{{ url_for('allRestaurants') }}">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>
